Repository JDK-Tek/AREA, pull requests merged in 2025-01, with the labels that each got.

#135 Docker-compose structure following subject and automatic deployment for dev branch on area.jepgo.root.sx
  .github/workflows/deploy.yaml
  README.md
  docker-compose.yaml
  mobile/Dockerfile
  mobile/android/gradle.properties
  web/Dockerfile
  web/src/App.js
  web/src/routes/mobileclientdownload/MobileClientDownload.js
Labels: Devops

#139 Headerbar for login and register pages
  web/src/routes/login/Login.js
  web/src/routes/register/Register.js
Labels: Web

#149 96 mobile page create
  .gitignore
  mobile/README.md
  mobile/assets/docs/PrivacyPolicy.md
  mobile/assets/docs/TermsOfService.md
  mobile/lib/createnewpage.sh
  mobile/lib/main.dart
  mobile/lib/pages/DiscordAuthPage.dart
  mobile/lib/pages/OAuthRoblox.dart
  mobile/lib/pages/OutlookOAuthPage.dart
  mobile/lib/pages/SpotifyOAuthPage.dart
  mobile/lib/pages/appletspage.dart
  mobile/lib/pages/area.dart
  mobile/lib/pages/developers.dart
  mobile/lib/pages/discordarea.dart
  mobile/lib/pages/home_page.dart
  mobile/lib/pages/login_page.dart
  mobile/lib/pages/plus.dart
  mobile/lib/pages/policy.dart
  mobile/lib/pages/register_page.dart
  mobile/lib/pages/servicepage.dart
  mobile/lib/pages/termsservices.dart
  mobile/lib/pages/user_register.dart
  mobile/lib/tools/dynamic.dart
  mobile/lib/tools/login_button.dart
  mobile/lib/tools/providers.dart
  mobile/lib/tools/user_ouput.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: Mobile

#148 Error messages on login and register pages
  web/src/components/LoginBox/LoginBox.js
  web/src/components/RegisterBox/RegisterBox.js
  web/src/routes/login/Content.js
  web/src/routes/login/Login.js
  web/src/routes/register/Content.js
  web/src/routes/register/Register.js
Labels: Web

#153 152 implement GitHub microservice
  server/docker-compose.yml
  server/docs/Contribute.md
  server/services/discord/main.go
  server/services/github/Dockerfile
  server/services/github/app.py
  server/services/github/requirements.txt
  server/services/google/main.go
  server/services/roblox/app.py
  server/services/spotify/main.go
  server/services/time/main.go
  server/src/area/area.go
  server/src/backend.go
  server/src/routes/arearoute/newarea.go
  server/tmp.txt
Labels: Backend

#158 155 implement reddit microservice
  .gitignore
  server/docker-compose.yml
  server/services/reddit/Dockerfile
  server/services/reddit/app.py
  server/services/reddit/requirements.txt
  server/src/backend.go
Labels: Backend

#159 Implement OAuth2 frontend Web
  web/src/components/Button.js
  web/src/components/LoginBox/LoginBox.js
Labels: Web

#163 152 implement GitHub microservice actions
  server/database/github.sql
  server/docker-compose.yml
  server/services/github/app.py
Labels: Backend

#165 164 call back to create new area from web front
  server/services/discord/main.go
  server/services/github/app.py
  server/services/reddit/app.py
  server/services/time/main.go
  server/src/area/area.go
  web/public/assets/services/github.webp
  web/public/assets/services/reddit.webp
  web/src/App.js
  web/src/components/Feature/Feature.js
  web/src/components/Feature/FeaturesKit.js
  web/src/components/Feature/FindFeature.js
  web/src/components/LoginBox/LoginBox.js
  web/src/components/RegisterBox/RegisterBox.js
  web/src/components/Service/FindService.js
  web/src/components/Service/Service.js
  web/src/components/ServiceFeatureConfiguration.js
  web/src/components/SidePannel.js
  web/src/routes/create/CreateArea.js
  web/src/routes/home/Content.js
Labels: Web

#176 fix(#128): oauth spotify
  mobile/lib/pages/SpotifyOAuthPage.dart
  mobile/lib/pages/login_page.dart
Labels: Mobile

#177 102 oauth outlook
  mobile/pubspec.lock
  server/docker-compose.yml
  server/services/google/main.go
  server/services/outlook/main.go
  server/services/spotify/main.go
  server/services/time/main.go
  server/src/area/area.go
  server/src/backend.go
Labels: Backend

#178 174 implement newapi microservice
  server/.gitignore
  server/database/newsapi.sql
  server/docker-compose.yml
  server/services/discord/main.go
  server/services/github/app.py
  server/services/newsapi/Dockerfile
  server/services/newsapi/app.py
  server/services/newsapi/requirements.txt
  server/services/outlook/main.go
  server/services/reddit/app.py
  server/services/spotify/main.go
  server/src/assets/canva.png
  server/src/assets/discord.png
  server/src/assets/github.webp
  server/src/assets/newsapi.png
  server/src/assets/outlook.png
  server/src/assets/reddit.webp
  server/src/assets/roblox.png
  server/src/assets/spotify.webp
  web/public/assets/services/newsapi.png
  web/src/components/Feature/FindFeature.js
  web/src/components/LoginBox/LoginBox.js
  web/src/components/RegisterBox/RegisterBox.js
  web/src/components/Service/Service.js
Labels: Backend

#181 fix(#128): path to image services
  mobile/lib/pages/appletspage.dart
  mobile/lib/pages/area.dart
  mobile/lib/pages/servicepage.dart
Labels: Mobile

#182 feat[#99]: implement roblox oauth
  server/database/setup.sql
  server/services/roblox/app.py
Labels: Backend

#183 179 implement multi oauth front web
  server/services/discord/main.go
  server/services/github/app.py
  server/services/newsapi/app.py
  server/services/outlook/main.go
  server/services/reddit/app.py
  server/services/roblox/app.py
  server/services/spotify/main.go
  server/services/time/main.go
  server/src/area/area.go
  server/src/backend.go
  web/public/assets/services/canva.png
  web/public/assets/services/outlook.png
  web/public/assets/services/roblox.png
  web/public/assets/services/spotify.webp
  web/public/assets/services/time.png
  web/src/App.js
  web/src/components/Button.js
  web/src/components/Feature/FindFeature.js
  web/src/components/LoginBox/LoginBox.js
  web/src/components/RegisterBox/RegisterBox.js
  web/src/components/Service/FindService.js
  web/src/components/ServiceFeatureConfiguration.js
  web/src/components/SidePannel.js
  web/src/components/TextFields/TextFields.js
  web/src/routes/create/CreateArea.js
  web/src/routes/explore/Explore.js
  web/src/routes/home/Content.js
  web/src/routes/login/Content.js
  web/src/routes/login/Login.js
  web/src/routes/mobileclientdownload/MobileClientDownload.js
  web/src/routes/register/Content.js
  web/src/routes/register/Register.js
Labels: Backend

#186 184 implement openweather microservice
  server/database/openweather.sql
  server/docker-compose.yml
  server/services/openweather/Dockerfile
  server/services/openweather/app.py
  server/services/openweather/requirements.txt
  server/src/assets/openweather.png
Labels: Backend

#188 102 oauth outlook
  server/docker-compose.yml
  server/services/google/Dockerfile
  server/services/google/go.mod
  server/services/google/go.sum
  server/services/google/main.go
  server/services/spotify/main.go
Labels: Backend

#191 Mobile build via docker-compose, and restored frontweb page for download
  docker-compose.yaml
  mobile/Dockerfile
  mobile/android/gradle.properties
  web/src/routes/mobileclientdownload/MobileClientDownload.js
Labels: Devops

#196 Edit button for create page + remove of name for area
  server/database/setup.sql
  server/services/google/main.go
  server/services/spotify/main.go
  server/src/assets/google.png
  web/src/App.js
  web/src/components/Applet/Applet.js
  web/src/components/Applet/AppletKit.js
  web/src/components/Header/Header.js
  web/src/components/Service/Service.js
  web/src/components/ServiceFeatureConfiguration.js
  web/src/data/Routes.js
  web/src/routes/create/CreateArea.js
  web/src/routes/explore/Explore.js
  web/src/routes/home/Content.js
  web/src/routes/myapplets/MyApplets.js
  web/src/routes/serivce/ServiceInfo.js
Labels: Web

#197 102 oauth outlook
  server/services/google/main.go
  server/services/spotify/main.go
Labels: Backend

#202 185 implement zoom microservices
  server/docker-compose.yml
  server/services/zoom/Dockerfile
  server/services/zoom/go.mod
  server/services/zoom/go.sum
  server/services/zoom/main.go
Labels: Backend
